body {
    background: #f4f1e8;
    color: #161616;

    font-family: Georgia, serif;

    max-width: 700px;
    margin: 80px auto;
    padding: 20px;

    line-height: 1.6;
}

h1 {
    font-weight: normal;
    font-size: 3rem;
}
